@model ZaynabHteit_Homework2.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_layout.cshtml";
}
@*
    this is a comment 
    on multiple lines     
*@






@{ 
    var className = Model.Customers.Count > 0 ? "popular" : null;
}

@*<h2 class=" @className">@Model.Movie.Name</h2>*@
<br />
<h2>The Names of Customers </h2>
<br />
@if (Model.Customers.Count == 0)
{
    //<p> No one has rented this movie before. </p>
     <text> No one has rented this movie before </text>

}
else
{
    int id = 1;
<ul>

    @foreach (var customer in Model.Customers)
    {
        <li>@Html.ActionLink(customer.Name, "GetCustomer", "Movie", new { id = id++ }, null) </li>
    }


</ul>

}
